.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.border-error{
  border: 1px solid #b30404;
}
.error{
  color:#b30404;
}
.active-filter{
  background-color: aquamarine;
}
.is-done{
  opacity: 0.5;
}